{% extends 'main/base.html'%}
{% block title %}Create new list{% endblock %}

{% block content %}
    <h3>Create new todo list</h3>
    <br>
    <form method="post" action="/create/" class="form-group">
        {% csrf_token %}
        <div class="input-group mp-3">
            {{form.name}}
           <div class="input-group-prepend">
                <button type="submit" name="save" class="btn btn-success">Create new</button>
           </div>
          
        </div>
        
    </form>
{% endblock %}